.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 1250px;
}
.App p {
  font-size: 23px;
  margin-top: 100px;
}
.App .cardOne img{
  width: 66px;
}
.cardOne p{
 margin-top: 26px;
}
.cardOne h6 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 26px; 
}



